<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
	<system.serviceModel>
		<services>
   <service name="SCADACore.TagProcessing">
    <endpoint address="http://localhost:4000/AutentificationService"
     binding="basicHttpBinding" contract="SCADACore.IAuthentication" />
    <endpoint address="http://localhost:4000/AutentificationService/Mex"
     binding="mexHttpBinding" contract="IMetadataExchange" />

	   <endpoint address="http://localhost:4000/DatabaseManagerService"
     binding="basicHttpBinding" contract="SCADACore.IDatabaseManager" />
	   <endpoint address="http://localhost:4000/DatabaseManagerService/Mex"
		binding="mexHttpBinding" contract="IMetadataExchange" />
	   
	   <endpoint address="http://localhost:4000/TrendingService"
				binding="wsDualHttpBinding" contract="SCADACore.ITrending" />
	   <endpoint address="http://localhost:4000/TrendingService/Mex"
		binding="mexHttpBinding" contract="IMetadataExchange" />
		</service>
  </services>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>	
	
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>