<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthentication" />
                <binding name="BasicHttpBinding_IDatabaseManager" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ITrending" />
                <binding name="WSDualHttpBinding_IAlarmDisplay" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4000/AutentificationService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthentication"
                contract="ServiceReference1.IAuthentication" name="BasicHttpBinding_IAuthentication" />
            <endpoint address="http://localhost:4000/DatabaseManagerService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDatabaseManager"
                contract="ServiceReference1.IDatabaseManager" name="BasicHttpBinding_IDatabaseManager" />
            <endpoint address="http://localhost:4000/TrendingService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_ITrending" contract="ServiceReference1.ITrending"
                name="WSDualHttpBinding_ITrending">
                <identity>
                    <userPrincipalName value="DESKTOP-612HTRD\Windows10" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:4000/AlarmService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IAlarmDisplay" contract="ServiceReference1.IAlarmDisplay"
                name="WSDualHttpBinding_IAlarmDisplay">
                <identity>
                    <userPrincipalName value="DESKTOP-612HTRD\Windows10" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>