<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
				<binding name="BasicHttpBinding_IReportManager" allowCookies="true"
                 maxReceivedMessageSize="20000000"
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000">
					<readerQuotas maxDepth="32"
						 maxArrayLength="200000000"
						 maxStringContentLength="200000000"/>
				</binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/ReportManagerService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportManager"
                contract="ServiceReference1.IReportManager" name="BasicHttpBinding_IReportManager" />
        </client>
    </system.serviceModel>
</configuration>