<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthentication" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4000/AutentificationService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthentication"
                contract="ServiceReference1.IAuthentication" name="BasicHttpBinding_IAuthentication" />
        </client>
    </system.serviceModel>
</configuration>