<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthentication" />
                <binding name="BasicHttpBinding_IDatabaseManager" />
                <binding name="BasicHttpBinding_IAuthentication1" />
                <binding name="BasicHttpBinding_IDatabaseManager1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4000/AutentificationService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthentication"
                contract="ServiceReference1.IAuthentication" name="BasicHttpBinding_IAuthentication" />
            <endpoint address="http://localhost:4000/DatabaseManagerService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDatabaseManager"
                contract="ServiceReference1.IDatabaseManager" name="BasicHttpBinding_IDatabaseManager" />
            <endpoint address="http://localhost:4000/AutentificationService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthentication1"
                contract="ServiceReference2.IAuthentication" name="BasicHttpBinding_IAuthentication1" />
            <endpoint address="http://localhost:4000/DatabaseManagerService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDatabaseManager1"
                contract="ServiceReference2.IDatabaseManager" name="BasicHttpBinding_IDatabaseManager1" />
        </client>
    </system.serviceModel>
</configuration>